<!--p503-->
{% extends 'base.html' %}
{% block title %}Photo Detail{% endblock %}
{% block contents %}
<br>
<div class="container">
    <div class="row">
        <div class="col offset-3">
            <h2>{{object.title}}</h2>
            <br>
            <p><img src="{{ object.image1.url }}" width="400" height="auto"></img></p>
            <br>
            <p>{{object.comment}}</p>
            <p>{{object.posted_at}}に投稿</p>
            <br>

            {% if request.user == object.user %}
            <form method="POST">
                <a href="{% url 'accounts:photo_delete' object.pk %}" class="btn btn-primary my-2">削除する</a>
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}